.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

/* .padded-div {
  padding-left: 10%;
  padding-right: 10%;
} */

.result-box {
  padding:5%;
  padding-top: 8%;
  padding-bottom: 3%;
  margin: 4%;
  /* border:1px dashed rgb(93, 93, 231); */
  border-radius: 10px;
  background-color: rgb(122, 142, 233);
}
.result-box .form-group * {
  /* display: inline-block; */
  /* margin-left: 10px; */
  color: white;
}
.form-box {
  padding:3%;
  margin: 4%;
  /* border:1px solid rgb(93, 93, 231); */
  border-radius: 10px;
  background-color: rgb(252 253 252);
}
.form-box .form-group * {
  display: block;
}
.form-box .form-group .control-label {
  display: block;
  font-size: 12px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: tomato;
  color: white;
}
.navbar * {
  color:white!important;
}